
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none !important;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}


:root {
    --primary: rgb(235, 35, 113);
    --secondary: rgb(215, 42, 110);
    --black: #212121;
    --white: #ffffff;
}

/* ================================ Header ==================================== */

body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background: #FBF9F9;
}

.header_section {
    padding: 18px 0px;
    vertical-align: middle;
    background: #FBF9F9;
    border-bottom: 1px solid #f5f5f5;
}

.header_section .offcanvas.offcanvas-start {
    width: 330px;
    border: none !important;
}

.header_section .offcanvas .btn-close {
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid #cecece;
    border-radius: 50px;
    font-size: 12px;
}

.header_section .offcanvas-header {
    border-bottom: 1px solid #EEE;
}

.header_section .offcanvas_menu .header p {
    font-size: 15px;
    color: var(--black);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.btn-primary {
    background: var(--primary);
    color: #fff;
    border: none !important;
    border-radius: 2px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 9px 22px;
    outline: none !important;
    box-shadow: none !important;
}

.btn-primary:hover {
    background: var(--secondary);
}

.offcanvas_menu .header {
    border-bottom: 1px solid #EEE;
    padding-bottom: 19px;
}

.offcanvas_menu ul li a img {width: 31px;}

.offcanvas_menu ul {
    margin-top: 20px;
}

.offcanvas_menu ul li a {
    display: block;
    padding: 14px 0px;
    border-bottom: 1px solid #f2f2f2;
    color: var(--black);
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.offcanvas_menu ul li a:hover {
    color: var(--primary);
}

.section{
  margin-bottom:80px;
}

/* ================================ Banner ==================================== */

.banner_content h1 {
    font-size: 68px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: var(--black);
    margin-bottom: 20px;
}

.banner_content p {
    font-size: 15px;
    font-family: 'Poppins';
    color: var(--black);
    font-weight: 400;
    margin: 0;
}

.banner_content .btn-primary {
    margin: 30px 0px;
    padding: 8px 80px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 7px;
}

/* ================================  featured  ==================================== */

.featured_section {
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    padding: 64px 0px;
}

.featured_img img {
    width: 120px;
    height: 120px;
}

.featured_content h3 {
    font-size: 16px;
    color: var(--black);
    font-weight: 600;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 7px;
}

.featured_content p {
    font-size: 14px;
    color: #666;
    margin: 0;
}

.frame_box {
    background: rgb(235 35 113 / 9%);
    padding: 20px 21px;
    border-radius: 7px;
}

.frame_banner .video-tag {
    border-radius: 12px;
}

.frame_article h3 {
    font-size: 33px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: var(--black);
    margin-bottom: 14px;
    line-height: 41px;
}

.frame_article p {
    font-size: 14px;
    color: #222;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}



















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

