@media screen and (min-width:1200px) {
    .reviews_section .owl-carousel .owl-nav button.owl-next, .reviews_section .owl-carousel .owl-nav button.owl-prev {
        width: 258px;
      }
     .gift_card_content {
        padding: 0px 122px;
    }
}


@media screen and (min-width: 576px) {
    .container-fluid {
        padding: 0px 50px;
    }
}

@media screen and (max-width:1200px) {
    .banner_content h1 {
        font-size: 50px;
    }
}

@media screen and (max-width:575px) {
    .banner_content h1 {
        font-size: 42px;
    }

    .frame_article h3 {
        font-size: 27px;
        line-height: 36px;
    }
    .gift_card_content {
        padding: 0px 0px;
    }
}


@media screen and (max-width:500px) {
    .banner_content h1 {
        font-size: 32px;
    }
    .reviews_section .owl-carousel .owl-nav button.owl-next, .reviews_section .owl-carousel .owl-nav button.owl-prev{
         background: none !important;
    }
}

@media screen and (max-width:380px) {
    .frame_article h3 {
    font-size: 23px;
    line-height: 31px;
}
}